body {
	padding: 0px;
}
#title-container {
	display: none;
}
#sampleLoader button {
	padding: 0.2em 0.4em;
}
#col1.svelte-mx8k4g {
	width: 25%;
}
#card.svelte-m2i2uf {
	margin-bottom: 5px;
}
#title.padding.svelte-m2i2uf {
	padding: 2px;
}
#editor.svelte-129q4vv {
	height: 50em;
	max-height: 100%;
}
#col2.svelte-mx8k4g {
	width: 100%;
	padding-left: 5px;
}
